@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
body,
p {
  margin: 0;
}

body {
  font-family: Roboto;
  color: #000;
}

.container {
  max-width: 1219px;
  margin: 0px auto;
  padding: 0px 55px;
}

#problem,
#PPC,
#team {
  border-top: 84px solid transparent;
  margin-top: -84px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

/* ------------------------- */

.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #007765;
  z-index: 1000;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 84px;
}

.menu_list {
  list-style: none;
  display: flex;
}

.menu_list_item {
  padding-left: 0;
  margin-left: 0;
  margin-right: 6px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17em;
  color: white;
}

.menu_list_item:last-child {
  margin-right: 0px;
}

.menu_link {
  text-decoration: none;
  color: white;
}

.header .logo {
  margin-left: 50px;
}

/* ------------------------- */

.intro {
  background-image: url(../assets/intro_bg.png);
  background-size: cover;
  background-position: center;
}

.intro .container {
  text-align: center;
  padding-top: 160px;
  padding-bottom: 160px;
}

.intro .title {
  color: white;
  font-weight: 500;
  font-size: 72px;
  line-height: 1.17em;
}

/* ------------------------- */

.article {
  background-color: #EEE;
}

.article .container {
  padding-top: 48px;
  padding-bottom: 92px;
}

.article_title {
  font-weight: 500;
  font-size: 64px;
  line-height: 1.17em;
  text-align: center;
  color: #007765;
}

.article p {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.1875em;
  margin-top: 32px;
}

#PPC {
  background-color: white;
}

#PPC figure {
  margin: 0;
  display: flex;
  margin-top: 32px;
}

#PPC figcaption {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.1875em;
  margin-left: 48px;
}

.hero {
  background-image: url(../assets/Hero_bg.png);
  background-size: cover;
  background-position: center;
}

.hero .container {
  padding-top: 128px;
  padding-bottom: 128px;
  text-align: center;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.17em;
  color: #FFFFFF;
}

/* ------------------------- */
.team {
  padding-top: 58px;
  padding-bottom: 85px;
  background-color: #EEE;
}

.members {
  padding-top: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.member {
  padding: 24px 70px 28px;
}

.member .photo {
  text-align: center;
}

.member .photo img {
  width: 168px;
  height: 168px;
}

.member .name {
  max-width: 308px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17em;
  text-align: center;
  color: #007765;
}

.member .role {
  max-width: 308px;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17em;
  text-align: center;
}

/* ------------------------- */

.footer {
  padding-top: 50px;
  padding-bottom: 62px;
  background-color: #333;
}

.footer .container {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17em;
  text-align: center;
  color: #FFFFFF;
}

.footer .remark {
  display: inline-block;
  max-width: 540px;
}